div, header, footer, section, aside {
    padding: 10px 10px;
    margin: 2px;
        }

main {
    width: 100%;
    background-color: black;
    }
header {
    
    background-color: blue;
}

.hero {
    
    background-color: red;
}
.content {
    
    background-color: green;
    
    
}
.sidebar {
    
    background-color: pink;
}
footer {
    margin: 0;
    background-color: gray;
}
.container {
    display: flex;
    flex-direction: column;
    
}
@media only screen and (min-width: 600px) {
    
    .container {
        flex-direction: row;
    }
} 

     

    
    
    
    

@media only screen and (min-width: 900px) {
   
    .container {
        margin: 0 100px;
    }
    .hero {
        margin: 0 100px;
    }
}

